# IDE settings
.vscode

# Node
node_modules
dist
logs
config

# Env and Secrets
**/.env

# Prisma (optional)
**/migrations

# Scripts
generateToken.js

# OS junk
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/

# ESLint cache
.eslintcache
